/* Chatbot.css */
.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: #ffb062;
  
}

.messages-container {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin: 5px 0;
}

.user {
  text-align: right;
}

.bot {
  text-align: left;
}

.input-container {
  display: flex;
}

.input-container input {
  flex-grow: 1;
  padding: 10px;
}

.input-container button {
  padding: 10px;
}
